<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--
Designed & Developed By: Kumail.H.T
www.kumailht.com
-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Elite Deposit Laywer - Home</title>

    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />

    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>

    <script type="text/javascript">
    function equalHeight(group) {
        tallest = 0;
        group.each(function() {
            thisHeight = $(this).height();
            if(thisHeight > tallest) {
                tallest = thisHeight;
            }
        });
        group.height(tallest);
    }
    $(document).ready(function() {
        // equalHeight($(".column"));
        $(".column").height(750);
    });
    </script>


</head>

<body>
<div id="wrapper">


    <div id="header"><!-- Start Header -->

        <a href="index.html"><img id="logo" src="{{STATIC_URL}}img/logo2.png" style="height:50px" alt="Taylor&amp;Smith" /></a>

        <span id="number">1-800-PAY-BACK</span>

    </div><!-- End Header -->

    <ul id="nav-home"><!-- Navigation -->
        <li><a href="#">Home</a></li>
        <li><a href="#">Solutions</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

    <div id="featured">

        <img src="{{STATIC_URL}}img/featured.jpg" alt="" />

        <span>We make landlords pay!</span>

    </div>

    <div class="column" id="col1"><!-- Start Column 1 -->

        <h1>About the Elite Deposit Lawyer</h1>

        <img src="{{STATIC_URL}}img/edl.JPG" style="width:100%" />

        <p>Landlords are like jackels, preying on the hard earned rewards of more noble creatures, and they've gotten away with it for far too long. Even in this golden age of Deposit Protection Schemes, the tricky landlord will use spurious claims to bully tenants into paying out. The real tragedy is that much like the victims of abusive relationships, the tenants become to feel that it's their fault.</p>

        <p><strong>No longer!</strong></p>

        <p>I've dedicated my life to upholding justice for those tenants who find themselves under attack. Landlords watch out - the Elite Deposit Lawyer is in town!</p>

    </div><!-- End Column 1 -->


    <div class="column" id="col2"><!-- Start Column 2 -->

        <h1>Landlord Myths</h1>

        <div class="service">
            <h4>Myth #1: Windows do not just break themselves</h4>
            <img src="{{STATIC_URL}}img/windows.jpg" alt="" style="width:100%"/>
            <p>The tricky landlord will allow windows to deteriorate into a state of hideous disrepair, only to pull out this old gem when confronted with the costs of his neglect. No longer!</p>
        </div>

        <div class="service">
            <h4>Myth #2: Old carpets should be replaced by the tenant</h4>
            <img src="{{STATIC_URL}}img/carpet.jpg" alt="" style="width:100%"/>
            <p>Things spill. Carpets fade. Even the most beautifully maintained carpets become twisted shadows of their former selves.</p>
        </div>

    </div><!-- End Column 2 -->


    <div class="column" id="sidebar"><!-- Start Sidebar -->

        <h1>News &amp; Events</h1>

        <ul>
            <li><a href="#">Aenean ultrices turpis. Mauris a nulla quis nisi interdum tempor</a></li>
            <li><a href="#">Aenean ultrices turpis. Mauris a nulla quis nisi interdum tempor</a></li>
            <li><a href="#">Aenean ultrices turpis. Mauris a nulla quis nisi interdum tempor</a></li>
            <li><a href="#">Aenean ultrices turpis. Mauris a nulla quis nisi interdum tempor</a></li>
            <li><a href="#">Aenean ultrices turpis. Mauris a nulla quis nisi interdum tempor</a></li>
            <li><a href="#">Aenean ultrices turpis. Mauris a nulla quis nisi interdum tempor</a></li>
        </ul>

    </div><!-- End Sidebar -->

    <div id="footer">

        <p>Copyright &copy; <b>Elite Deposit Lawyer</b></p>

    </div><!-- End Footer -->


</div><!-- End Wrapper -->
</body>

</html>
