<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--
Designed & Developed By: Kumail.H.T
www.kumailht.com
-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Elite Deposit Laywer - Home</title>

    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />

    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>

    <script type="text/javascript">
    function equalHeight(group) {
        tallest = 0;
        group.each(function() {
            thisHeight = $(this).height();
            if(thisHeight > tallest) {
                tallest = thisHeight;
            }
        });
        group.height(tallest);
    }
    $(document).ready(function() {
        // equalHeight($(".column"));
        $(".column").height(700);
    });
    </script>


</head>

<body>
<div id="wrapper">


    <div id="header"><!-- Start Header -->

        <a href="index.html"><img id="logo" src="{{STATIC_URL}}img/logo2.png" style="height:50px" alt="Taylor&amp;Smith" /></a>

        <span id="number">1-800-728-494</span>

    </div><!-- End Header -->

    <ul id="nav-home"><!-- Navigation -->
        <li><a href="index.html">Home</a></li>
        <li><a href="solutions.html">Solutions</a></li>
        <li><a href="blog.html">blog</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>

    <div id="featured">

        <img src="{{STATIC_URL}}img/featured.jpg" alt="" />

        <span>We make landlords pay!</span>

    </div>

    <div class="column" id="col1"><!-- Start Column 1 -->

        <h1>About the Elite Deposit Lawyer</h1>

        <img src="{{STATIC_URL}}img/edl.JPG" style="width:100%" />

        <p>Landlords are like jackels, preying on the hard earned rewards of more noble creatures. </p>

        <p> At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues.</p>

    </div><!-- End Column 1 -->


    <div class="column" id="col2"><!-- Start Column 2 -->

        <h1>Landlord Myths</h1>

        <div class="service">
            <h4>Myth #1: Windows do not just break themselves</h4>
            <img src="{{STATIC_URL}}img/windows.jpg" alt="" style="width:100%"/>
            <p>The sad truth is...</p>
        </div>

        <div class="service">
            <h4>Myth #2: Crappy old carpets should be replaced by the tenant</h4>
            <img src="{{STATIC_URL}}img/carpet.jpg" alt="" style="width:100%"/>
            <p>Donec diam eros, tristique sit amet, pretium vel, pellentesque ut, neque. Praesent aliquet.</p>
        </div>

    </div><!-- End Column 2 -->


    <div class="column" id="sidebar"><!-- Start Sidebar -->

        <h1>News &amp; Events</h1>

        <ul>
            <li><a href="#">Aenean ultrices turpis. Mauris a nulla quis nisi interdum tempor</a></li>
            <li><a href="#">Aenean ultrices turpis. Mauris a nulla quis nisi interdum tempor</a></li>
            <li><a href="#">Aenean ultrices turpis. Mauris a nulla quis nisi interdum tempor</a></li>
            <li><a href="#">Aenean ultrices turpis. Mauris a nulla quis nisi interdum tempor</a></li>
            <li><a href="#">Aenean ultrices turpis. Mauris a nulla quis nisi interdum tempor</a></li>
            <li><a href="#">Aenean ultrices turpis. Mauris a nulla quis nisi interdum tempor</a></li>
        </ul>

    </div><!-- End Sidebar -->

    <div id="footer">

        <p>Copyright &copy; <b>Elite Deposit Lawyer</b></p>

    </div><!-- End Footer -->


</div><!-- End Wrapper -->
</body>

</html>
